@model IEnumerable<EasyGames.Models.Client>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>Client List</h3>

    <hr />

    @using (Html.BeginForm())
    {
        <p>
            Find: @Html.TextBox("searching")
            <input type="submit" value="search" />
        </p>
    }

    <hr />

    <p>
        @Html.ActionLink("Create New", "Create", "Clients")
    </p>

    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Name", "Index", new { indexing = ViewBag.Name })
            </th>
            <th>
                @Html.ActionLink("Surname", "Index", new { indexing = ViewBag.Surname })
            </th>
            <th>
                Balance
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientBalance)
                </td>
                <td>
                    @Html.ActionLink("View Transactions", "ViewTransactions", new { id = item.ClientID }, null)
                </td>
            </tr>
        }
    </table>

    <br /><hr />
    
    @ViewBag.Test

</body>
</html>
