
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sum</title>
</head>
<body>
    <div>
        @ViewBag.TCID <br />
        @ViewBag.TempCID <br />
        @ViewBag.TempTCID <br />
        @ViewBag.tempAmount <br />
        @ViewBag.tempBalance <br />
        @ViewBag.sumT <br />
        @ViewBag.CID <br />
        @ViewBag.Name<br />
        @ViewBag.Surname<br />
        @ViewBag.ClientBalance<br />
    </div>
</body>
</html>
